h1 {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 0px 5px 10px black;
}

#subline,
.lead {
    color: white;
    font-family: 'Jura', sans-serif;
    text-shadow: 0px 5px 10px black;
}
.btn {
    color: white;
    font-family: 'Jura', sans-serif;
    text-shadow: 0px 5px 10px black;
}